# Raw sequencing data
Data/*
!Data/raw_data/.gitkeep
!Data/reference_dbs/.gitkeep
!Data/processed_data/.gitkeep
!Data/metadata/.gitkeep
# Results
Results/*
!Results/.gitkeep

# OS / editor
.DS_Store
*.swp
*~

# Logs
Logs/*
*.log
*.err
*.out
*.e*
*.o*

# Temp files
tmp/
temp/

# Downstream analysis
*.R

# Submitted scripts
*.pbs
*.slurm
